<!-- Scripts -->
  <script src="{{ site.github.url }}/assets/js/jquery.min.js?bust={{ site.time | date: '%s' }}"></script>
  <script src="{{ site.github.url }}/assets/js/jquery.poptrox.min.js?bust={{ site.time | date: '%s' }}"></script>
  <script src="{{ site.github.url }}/assets/js/skel.min.js?bust={{ site.time | date: '%s' }}"></script>
  <script src="{{ site.github.url }}/assets/js/util.js?bust={{ site.time | date: '%s' }}"></script>
  <!--[if lte IE 8]><script src="{{ site.github.url }}/assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{ site.github.url }}/assets/js/main.js?bust={{ site.time | date: '%s' }}"></script>
